@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
    background: black;
	color: white;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	box-sizing: border-box;
}

body a {
	color: #76f4ff;
}

section p {
	font-size: 1.2em;
	line-height: 1.6;
	letter-spacing: 0.045em;
}

section {
	width: 100%;
	min-height: 100vh;
	min-height: calc(var(--vh, 1vh) * 100);
	display: flex;
	position: relative;
	z-index: 20;
	padding: 1em 0 5em 0;
	box-sizing: border-box;
}

section:nth-of-type(even) {
	background-color: rgb(0, 0, 0, 1);
}

section > div {
	width: 100%;
	margin: auto 8em auto 19em;
	max-width: 95em;
	position: relative;
	z-index: 25;
}

section h2 {
	font-size: 4em;
	margin-top: 2em;
}

section h2 strong {
	color: #ffff94;
}

section h2:after {
	content: ' ';
	display: block;
	width: 3em;
	height: 4px;
	background-color: #77ff9f;
	margin-top: 0.7em;
}

a.next-section {
	position: absolute;
	display: block;
	z-index: 30;
	bottom: 0;
	width: 100%;
	padding: 4em 0 2em 0;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	font-size: 0.7em;
	background: url(/img/Arrow.png) no-repeat top center;
	background-size: 3em;
	letter-spacing: 0.15em;
	opacity: 0.5;
	transition: opacity 0.5s;
}

a.next-section:hover {
	opacity: 1;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 30;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	width: 15em;
	display: flex;
	transition: transform 0.5s;
	transition-timing-function: cubic-bezier(0,1,2,5);
	transform: translateX(-15em);
	box-sizing: border-box;
}

nav.scrolling {
	transform: translateX(0);
}

nav .header {
	position: absolute;
	top: 2em;
	left: 2em;
}

nav a img {
	width: 40%;
	transition: transform 0.5s;
	transform-origin: center;
	transition-timing-function: cubic-bezier(0,1,2,5);
}


nav a:hover img {
	transform: rotate(-120deg);
}


nav .menu {
	margin: auto 2.5em;
}

nav ul {
	padding: 0;
}

nav li {
	list-style-type: none;
	text-transform: uppercase;
	margin: 1em 0;
	transition-property: padding-left;
  	transition-duration: 0.5s;
}

nav li a {
	text-decoration: none;
	color: white;
	opacity: 0.3;
	transition-property: opacity;
  	transition-duration: 0.5s;
	letter-spacing: 0.15em;
	font-size: 0.8em;
}

nav li a:hover {
	opacity: 1;
}

.hamburger-menu {
	display: none;
}

#bg {
	position: fixed;
	width: 100%;
	height: 100%;
}

footer {
	width: 100%;
	background: #E9E9E9;
	color: black;
}

footer div {
	display: grid;
	padding: 5em 2em 5em 19em;
	grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
	max-width: 95em;
}

footer p, footer address {
	font-size: 1em;
	font-style: normal;
	padding-right: 1em;
}

footer a {
	color: black;
}

#bg div {
	position: absolute;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	background-position: center;
}

#bg1 {
	background: url(/img/Light_Bottom.png);
	animation:spin 40s linear infinite;
	background-size: contain;
	z-index: 13;
}

#bg2 {
	background: url(/img/Light_Middle.png);
	animation:spin 45s linear infinite;
	background-size: contain;
	z-index: 14;
}

#bg3 {
	background: url(/img/Light_Top.png);
	animation:spin 68s linear infinite;
	background-size: contain;
	z-index: 15;
	mix-blend-mode: lighten;
}

#noise {
	background: url(/img/Noise_Tile.png);
	background-size: 5%;
	mix-blend-mode: overlay;
	opacity: 0.3;
	z-index: 17;
}

.current-home .parabg {
	opacity: 0;
}

.parabg {
	background-position: 0px 0px;
	position: absolute;
	top:0;
	left: 0;
	z-index: 18;
	width: 100vw;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	transition: opacity 1s;
	padding: 0;
	margin: 0;
	max-width: none;
}

.doors {
	background-image: url(/img/DoorTile_Small.png);
	opacity: 0.3;
}

.doorm {
	background-image: url(/img/DoorTile_Medium.png);
	opacity: 0.4;
}

.doorl {
	background-image: url(/img/DoorTile_Large.png);
	opacity: 0.5;
}

@keyframes spin { 
	50% { transform:scale(200%) } 
	10% { transform:scale(100%) } 
}

#content {
	z-index: 20;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#home {
	display: flex;
	padding: 0;
	margin: auto;
}

#home img {
	width: 50%;
	margin: auto;
}

#about-us .body-content {
	columns: 500px;
	column-gap: 2em;
}

#about-us .body-content p {
	margin-top: 0;
}


#who ul {
	display:grid;
	width: 100%;
	grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
	grid-gap: 2em 6em;
	margin: 0;
	padding: 0;
}

#who li {
	list-style-type: none;
	padding: 0;
	display: block;
}

#who h3 {
	font-weight: normal;
	border-bottom: 2px solid #77ff9f;
	padding-bottom: 1.5em;
	letter-spacing: 0.15em;
	margin-top: 0;
}

#who div > p {
	padding: 0 0 1em 0;
}

#who h3 {
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	position: relative;
}

.linkedin, .twitter {
	display: block;
	position: absolute;
	right: 0;
	top: -0.2em;
	width: 1.5em;
	height: 1.5em;
	overflow: hidden;
	text-indent: -50em;
	opacity: 0.5;
	transition: opacity 0.5s;
	background-repeat: no-repeat;
}

.linkedin:hover, .twitter:hover {
	opacity: 1;
}

.linkedin {
	background-image: url(/img/Icon_LinkedIn.svg);
	background-size: contain;
}

.twitter {
	background-image: url(/img/Icon_Twitter.svg);
	background-size: contain;
	right: 2em;
}

#about-us h3 a:hover {
	text-decoration: underline;
}

#about-us li p {
	padding-right: 2em;
}

#contact fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

#contact input {
	background: rgba(255,255,255, 0.05);
	border: 2px solid rgba(255,255,255, 0.5);;
	font-size: 100%;
	color: white;
	padding: 1em;
	width: 30em;
	border-radius: 6px;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
}

#contact input[type=submit] {
	border-color: #77ff9f;
	color: #77ff9f;
	background-color:rgba(119,255,159, 0.1);
	width: 10em;
	letter-spacing: 0.1em;
	transition: background-color 0.5s;
}

#contact input[type=submit]:hover {
	background-color:rgba(119,255,159, 0.3);
}

.gdpr {
	font-size: 0.8em;
	font-style: italic;
	opacity: 0.5;
	letter-spacing: 0.05em;
	margin-top: 0.5em;
}

.email {
	margin-top: 2.5em;
}

.email strong {
	color: #ffff94;
	display: block;
	font-size: 180%;
	font-weight: normal;
	letter-spacing: 0.01em;
}


/* Medium screen widths */

@media screen and (max-width: 1000px) {

	#home img {
		width: 70%;
	}

	section p, #about-us h3 {
		font-size: 1em;
		line-height: 1.4;
	}
	
	section h2 {
		font-size: 3em;
		margin-top: 0;
	}

	#contact input {
		width: 14em;
	}

}

@media screen and (min-width: 751px) {
	nav li a:before {
		content: '';
		position: absolute;
		width: 4em;
		height: 2px;
		left: 0;
		background-color: #77ff9f;
		border-radius: 2px;
		transform: translate(-4em, 0.75em);
		transition-property: transform;
		transition-duration: 0.5s;
	}

	.current-home #nav-home {
		padding-left: 2em;
	}

	.current-home #nav-home a {
		opacity: 1.0;
	}

	.current-home #nav-home a:before {
		transform: translate(0, 0.75em);
	}

	.current-who #nav-who {
		padding-left: 2em;
	}

	.current-who #nav-who a {
		opacity: 1.0;
	}

	.current-who #nav-who a:before {
		transform: translate(0, 0.75em);
	}

	.current-about-us #nav-about-us {
		padding-left: 2em;
	}

	.current-about-us #nav-about-us a {
		opacity: 1.0;
	}

	.current-about-us #nav-about-us a:before {
		transform: translate(0, 0.75em);
	}


	.current-contact #nav-contact {
		padding-left: 2em;
	}

	.current-contact #nav-contact a {
		opacity: 1.0;
	}

	.current-contact #nav-contact a:before {
		transform: translate(0,  0.75em);
	}
}

@media screen and (max-width: 750px) {

	#home img {
		width: 80%;
	}

	section {
		padding-top: 4em;
	}

	section p, #about-us h3 {
		font-size: 1em;
		line-height: 1.4;
	}
	
	section h2 {
		font-size: 3em;
		margin-top: 0;
	}

	#contact input {
		width: 8em;
		font-size: 80%;
	}

	section > div {
		margin: auto 2em auto 2em;
	}

	footer div {
		padding-left: 2em;
	}

	.email strong {
		font-size: 120%;
	}

	/* need these? 
	a.next-section {
		display: none;
	}*/

	nav {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 30;
		width: 100vw;
		height: 3em;
		transform: translateY(-3em);
	}

	nav .menu {
		position: absolute;
		background: #E9E9E9;
		display: flex;
		padding: 0;
		width: 100vw;
		height: 100vh;
		height: calc(var(--vh, 1vh) * 100);
		transform: translateX(-100vw);
		transition: transform 0.5s;
		transition-timing-function: cubic-bezier(0,1,2,1);
		margin: 0;
	}

	nav ul {
		margin: auto 0;
		width: 100vw;
	}

	nav.open .menu {
		transform: translateX(0);
	}

	nav.scrolling {
		transform: translateY(0);
	}

	nav .header {
		background: black;
		width: 100vw;
		top: 0;
		left: 0;
		height: 2em;
		padding: 0.5em;
		z-index: 40;
	}
	
	nav a img {
		width: 2em;
	}

	nav li {
		text-align: center;
	}
	
	nav li a:before {
		content: '';
		border: none;
	}

	nav li a {
		font-size: 1.6em;
		color: black;
	}

	.hamburger-menu {
		position: absolute;
		display: block;
		top: 0.5em;
		right: 1.5em;
		cursor: pointer;
		background: url(/img/Hamburger_icon.svg) no-repeat;
		background-size: cover;
		width: 2em;
		height: 2em;

	}

	nav.open .hamburger-menu {
		background:  url(/img/Icon_Close.svg) no-repeat;
		background-size: cover;
	}

}
