---
layout: layouts/default.njk
---

<div class="hamburger-menu"></div>

<nav>
    <div class="header">
    <a href="#home"><img src="/img/LG_Logo_Nav.png" alt="Light Garden Logo"></a>
    </div>
    <div class="menu">
    <ul>
        <li id="nav-home"><a href="#home">Welcome</a></li>
        <li id="nav-about-us"><a href="#about-us">About us</a></li>
        <li id="nav-platform"><a href="#platform">Our platform</a></li>
        <li id="nav-who"><a href="#who">Who we are</a></li>
        <li id="nav-careers"><a href="#careers">Careers</a></li>
        <li id="nav-contact"><a href="#contact">Contact</a></li>
    </ul>
    </div>
</nav>

<section id="home">
    <img src="/img/LG_Logo_Hero_2.png" alt="Light Garden" class="tl">
    <a href="#about-us" class="next-section">About us</a>
</section>

<section id="about-us">
    <div class="parabg doors" data-speed="0.3"></div>
    <div class="parabg doorm"  data-speed="0.6"></div>
    <div class="parabg doorl" data-speed="1.3"></div>
    <div>
        <h2 class="t-in th">What you want <strong>virtual reality</strong> to be</h2>
        <div class="body-content t-in t1">
            <p>Like many of our generation, we grew up inspired by computer games and the engrossing worlds that captured our imagination. We’ve always dreamed of stepping into these worlds, not just experiencing them via screens and controllers.</p>
            <p>We searched for the tools that would enable us to build this dream but they didn’t exist. So in May ‘21, we founded Light Garden with the goal of building the tools that will revolutionise the entire location-based VR sector. The result is our transformative new platform: <a href="#platform">Existent™</a></p>
        </div>
    </div>
    <a href="#platform" class="next-section">Our platform</a>
</section>

<section id="platform">
    <div>
        <h2 class="t-in th">Introducing the <strong>Existent™</strong> Platform</h2>
        <div class="body-content t-in t1">
            <p>The Existent™ platform brings physical interaction to the metaverse. It’s a software platform that extends state-of-the-art virtual reality technology by enabling a two-way communication between the real world and the virtual. Events inside the game can directly control real world devices and vice versa. </p>
            <p>Any real world devices, props and sets can be accurately synchronised with their matching in-game counterparts, allowing players to reach out and touch game objects that look, feel and behave as if they were real.</p>
            <p>Existent™ represents the next step in the evolution of the VR sector, finally achieving the holy grail of VR: a sustained sense of presence where the virtual world feels as real as the one you just left. No controllers, no tutorials, just being there.</p>
            <p>With Existent™ your team can start creating mind-blowing VR experiences from <strong>day 1</strong>. No more costly R&D and years wasted building highly bespoke project infrastructure.</p>
        </div>
    </div>
    <a href="#who" class="next-section">Who we are</a>
</section>

<section id="who">
    <div class="parabg doors" data-speed="0.3"></div>
    <div class="parabg doorm"  data-speed="0.6"></div>
    <div class="parabg doorl" data-speed="1.3"></div>
    <div>
        <h2 class="t-in th">The only way to realise this dream is with our co-founders’ <strong>unique combination</strong> of technology, gaming and live performance experience</h2>
        <ul>
            <li class="t-in t1">
                <h3>Dan Webb</h3>
                <h4>Chief Executive Officer</h4>
                <p>Veteran software engineer with 10 years in leadership roles. Former VP Engineering at Deliveroo, engineering site lead at Twitter and engineering manager at Facebook Reality Labs.</p>
                <p>Scaled the Deliveroo eng team from 12 to ~230, enabling the AI transformation of the company's systems. More recently supported the deployment of FRL's first automated integrity systems for XR content.</p>
                <p><a href="https://www.linkedin.com/in/dan-webb-04b562/" target="_blank" class="linkedin">Linkedin</a> <a href="https://twitter.com/danwrong" target="_blank" class="twitter">Twitter</a></p>
            </li>
            <li class="t-in t2">
                <h3>Joe Mckernan</h3>
                <h4>Chief Design Officer</h2>
                <p>Artist and designer on some of the world’s most critically acclaimed AAA action games for Sony and Microsoft.</p>
                <p>Worked on high profile IPs such as Destiny and Killzone and launched hit new game series Forza Horizon and Horizon Zero Dawn.</p>
                <p>Most recently led art, design features and franchise branding on Fable.</p>
                <p><a href="https://www.linkedin.com/in/joseph-mckernan/" target="_blank" class="linkedin">Linkedin</a> <a href="https://twitter.com/joemckernan" target="_blank" class="twitter">Twitter</a></p>
            </li>
            <li class="t-in t3">
                <h3>Andy Brunskill</h3>
                <h4>Chief Product Officer</h4>
                <p>Director, writer and practitioner for theatre, tv and events with a career spanning over 13 years.</p>
                <p>Created the puppetry for Coldplay’s “Daddy” music video, global advertising campaigns and large scale parades and events.</p> 
                <p>Former Associate Director of international smash hit “War Horse” in the West End.</p>
                <p><a href="https://www.linkedin.com/in/andy-brunskill-001097147/" target="_blank" class="linkedin">Linkedin</a> <a href="https://twitter.com/andy_brunskill" target="_blank" class="twitter">Twitter</a>
            </li>
        </ul>
    </div>
    <a href="#contact" class="next-section">Contact us</a>
</section>

<section id="careers">
    <div>
        <h2 class="t-in th">We're hiring...</h2>
        <div class="t-in t1">
            <p>We’re building a team to solve the complex problems needed to build a pioneering product like ours, and would love to hear from people who are passionate about the things we’re creating.</p>

            <h3>4-Day Week</h3>
            <p>We all care deeply about building a workplace that works for everyone, and are proud to operate a 4 day working week: at Light Garden we treat Monday as part of your weekend. We’re <a href="#who">a team</a> with vast people management experience and believe that with clear guidelines and tools around expectations and communication, we can achieve our goals. All while giving our employees 20% of their week back.</p>

            <h3>Salary Transparency</h3>
            <p>Transparency around salary expectations is incredibly important to us, and so we clearly display salary ranges on all of our job postings. Once you join, you’ll have access to a clear and explicit progression framework. No smoke and mirrors.</p>

            <h3>EMI Options</h3>
            <p>As an early employee of Light Garden you will benefit from a generous <a href="https://www.vestd.com/emi-share-options-scheme/">EMI option grant</a>. These tax-friendly stock options have huge potential at such an early stage of a company like ours and we want everyone to feel like they are helping build something they own a part of.</p>
        </div>
        <ul class="t-in t2 jobs">
            {% for job in careers.jobs %}
            <li>    
                <h3><a href="{{ job.absolute_url }}">{{ job.title }}</a></h3>
            {% endfor %}
        </ul>
    </div>
</section>

<section id="contact">
    <div>
        <h2 class="t-in th">Do you want to know more?</h2>
        <p class="t-in t1">We’ve got lots of exciting plans ahead for our first public experience built on Existent™ so if you’d like to find out more, keep up to date then sign up to our mailing list.</p>
        <form action="https://studio.us6.list-manage.com/subscribe/post?u=e9fd71e54f8dce98d61721e47&amp;id=ff43238278" method="post" target="_blank" class="t-in t1">
            <fieldset>
                <input type="email" placeholder="you@example.com" name="EMAIL" required><input type="submit" value="SUBSCRIBE">
            </fieldset>
            <p class="gdpr">You can unsubscribe at any time by clicking the link in the footer of our emails.</p>
            <p class="email">Or if you'd prefer to contact us directly, email us at: <strong>info@lightgarden.studio</strong></p>
        </form>
    </div>
</section>

<footer>
    <div>
        <p><strong>Light Garden Studio Ltd &copy; 2021</strong><br><br>Registered in England &amp; Wales no. <a href="https://find-and-update.company-information.service.gov.uk/company/13409770">13409770</a>.<br><br>info@lightgarden.studio</p>
        <p>Address:<br><br>10 Barley Mow Passage,<br> Chiswick,<br> London,<br> United Kingdom,<br> W4 4PH</p>
    </div>
</footer>
