---
layout: layouts/default.njk
---

<section id="home" class="parallax-root">
    <img src="/img/LG_Logo_Hero.png" alt="Light Garden" class="parallax fade">
    <a href="#our-studio" class="next-section">Our Studio</a>
</section>

<section id="our-studio" class="parallax-root">
    <div>
        <h2 class="parallax fade translate" data-offset="150" data-mono="true">We’re building the world’s most <strong>immersive</strong> entertainment destination.</h2>
        <p class="parallax fade translate" data-offset="250" data-mono="true">Like many of our generation we grew up engrossed by computer games and the rich, captivating worlds they transported our imaginations to. The combination of absorbing narrative, engaging gameplay and rewarding progression systems kept us, along with millions of other players around the globe, coming back for more.</p>
        <p class="parallax fade translate" data-offset="350" data-mono="true">We’ve always dreamed of actually stepping inside these worlds and not just experiencing them via screen and controller. And despite having tried an extensive array of brilliant VR Arcades, immersive theatre and “live” games, we haven’t found anything that lives up to our dreams.</p>
        <p class="parallax fade translate" data-offset="450" data-mono="true">So, in May ‘21, we founded Light Garden to turn these dreams into reality.</p>
    </div>
    <a href="#about-us" class="next-section">About Us</a>
</section>

<section id="about-us" class="parallax-root">
    <div>
        <h2 class="parallax fade translate" data-offset="150" data-mono="true">Who we are.</h2>
        <p class="parallax fade translate" data-offset="250" data-mono="true">The worlds of live performance, ground breaking tech, and AAA games uniting to create the next generation of live entertainment.</p>
        <ul>
            <li class="parallax fade translate" data-offset="350" data-mono="true">
                <h3><a href="https://www.linkedin.com/in/dan-webb-04b562/">Dan <strong>Webb</strong></a></h3>
                <p>Veteran software engineer with 10 years in leadership roles. Former VP Engineering at Deliveroo, Engineering site lead at Twitter and engineering manager at Facebook Reality Labs.</p>
                <p>Scaled the eng team from 12 to ~230 and led AI transformation of Deliveroo's systems and led the deployment of FRL's first automated integrity system for XR content.</p>
            </li>
            <li class="parallax fade translate" data-offset="450" data-mono="true">
                <h3><a href="https://www.linkedin.com/in/joseph-mckernan/">Joe <strong>Mckernan</strong></a></h3>
                <p>Stuff</p>
            </li>
            <li class="parallax fade translate" data-offset="550" data-mono="true">
                <h3><a href="https://www.linkedin.com/in/andy-brunskill-001097147/">Andy <strong>Brunskill</strong></a></h3>
                <p>Andy is a director, writer and practitioner working across theatre, tv and events with a career spanning over 13 years.</p> 
                <p>He created puppetry for Coldplay’s “Daddy” musical video, global advertising campaigns and was Associate Director of international smash hit “War Horse” in the West End.</p>
            </li>
        </ul>
    </div>
    <a href="#contact" class="next-section">Contact Us</a>
</section>

<section id="contact" class="parallax-root">
    <div>
        <h2 class="parallax fade translate" data-offset="150" data-mono="true">Get in touch.</h2>
        <form class="parallax fade translate" data-offset="250" data-mono="true">
            <p>Interested in what we're working on? Sign up for updates and you'll hear from us next time we share something cool.</p>
            <fieldset>
                <input><input type="submit" value="GO!">
            </fieldset>
            <p class="gdpr"></p>
            <p class="email">Or if you'd prefer to contact us directly, email us at: <strong>info@lightgarden.studio</strong></p>
        </form>
    </div>
</section>

<footer>
    <div>
        <p><strong>Light Garden Studio Ltd &copy; 2021</strong></p>
        <p>Registered address:<br><br>C/O Dragon Argent Limited,<br> 63 Bermondsey Street,<br> London,<br> United Kingdom,<br> SE1 3XF</p>
        <p>Registered in the UK no. <a href="">13409770</a>.<br><br>info@lightgarden.studio</p>
    </div>
</footer>
