---
layout: layouts/default.njk
---

<section id="home">
    <img src="/img/LG_Logo_Hero.png" alt="Light Garden" class="tl">
    <a href="#about-us" class="next-section">About us</a>
</section>

<section id="about-us">
    <div class="parabg doors" data-speed="0.3"></div>
    <div class="parabg doorm"  data-speed="0.6"></div>
    <div class="parabg doorl" data-speed="1.3"></div>
    <div>
        <h2 class="t-in th">We’re building the world’s most <strong>immersive entertainment</strong> destinations.</h2>
        <div class="body-content t-in t1">
            <p>Like many of our generation we grew up inspired by computer games and the engrossing worlds that captured our imaginations. The combination of absorbing narrative, engaging gameplay and rewarding progression kept us, along with millions of other players, coming back for more.</p>
            <p>We’ve always dreamed of stepping inside these worlds and not just experiencing them via screen and controller. And despite having tried an extensive array of brilliant VR Arcades, immersive theatre and &#8216;live&#8217; games, we haven’t found anything that lives up to our dreams.</p>
            <p>So, in May ‘21, we founded Light Garden to turn these dreams into reality.</p>
        </div>
    </div>
    <a href="#who" class="next-section">Who we are</a>
</section>

<section id="who">
    <div>
        <h2 class="t-in th">A unique fusion of <strong>technology</strong>, <strong>gaming</strong> and <strong>live performance</strong>.</h2>
        <ul>
            <li class="t-in t1">
                <h3>Dan Webb</h3>
                <h4>Chief Executive Officer</h4>
                <p>Veteran software engineer with 10 years in leadership roles. Former VP Engineering at Deliveroo, engineering site lead at Twitter and engineering manager at Facebook Reality Labs.</p>
                <p>Scaled the Deliveroo eng team from 12 to ~230, enabling the AI transformation of the company's systems. More recently supported the deployment of FRL's first automated integrity systems for XR content.</p>
                <p><a href="https://www.linkedin.com/in/dan-webb-04b562/" target="_blank" class="linkedin">Linkedin</a> <a href="https://twitter.com/danwrong" target="_blank" class="twitter">Twitter</a></p>
            </li>
            <li class="t-in t2">
                <h3>Joe Mckernan</h3>
                <h4>Chief Design Officer</h2>
                <p>Artist and designer on some of the world’s most critically acclaimed AAA action games for Sony and Microsoft.</p>
                <p>Worked on high profile IPs such as Destiny and Killzone and launched hit new game series Forza Horizon and Horizon Zero Dawn.</p>
                <p>Most recently led art, design features and franchise branding on Fable.</p>
                <p><a href="https://www.linkedin.com/in/joseph-mckernan/" target="_blank" class="linkedin">Linkedin</a></p>
            </li>
            <li class="t-in t3">
                <h3>Andy Brunskill</h3>
                <h4>Chief Creative Officer  </h4>
                <p>Director, writer and practitioner for theatre, tv and events with a career spanning over 13 years.</p>
                <p>Created the puppetry for Coldplay’s “Daddy” music video, global advertising campaigns and large scale parades and events.</p> 
                <p>Former Associate Director of international smash hit “War Horse” in the West End.</p>
                <p><a href="https://www.linkedin.com/in/andy-brunskill-001097147/" target="_blank" class="linkedin">Linkedin</a> <a href="https://twitter.com/andy_brunskill" target="_blank" class="twitter">Twitter</a>
            </li>
        </ul>
    </div>
    <a href="#contact" class="next-section">Contact us</a>
</section>

<section id="contact">
    <div class="parabg doors" data-speed="0.3"></div>
    <div class="parabg doorm"  data-speed="0.4"></div>
    <div class="parabg doorl" data-speed="0.5"></div>
    <div>
        <h2 class="t-in th">Interested in what we're working on?</h2>
        <p class="t-in t1">Sign up for updates and you'll hear from us next time we share something cool.</p>
        <form action="https://studio.us6.list-manage.com/subscribe/post?u=e9fd71e54f8dce98d61721e47&amp;id=ff43238278" method="post" target="_blank" class="t-in t1">
            <fieldset>
                <input type="email" placeholder="you@example.com" name="EMAIL" required><input type="submit" value="SUBSCRIBE">
            </fieldset>
            <p class="gdpr">You can unsubscribe at any time by clicking the link in the footer of our emails.</p>
            <p class="email">Or if you'd prefer to contact us directly, email us at: <strong>info@lightgarden.studio</strong></p>
        </form>
    </div>
</section>

<footer>
    <div>
        <p><strong>Light Garden Studio Ltd &copy; 2021</strong><br><br>Registered in England &amp; Wales no. <a href="https://find-and-update.company-information.service.gov.uk/company/13409770">13409770</a>.<br><br>info@lightgarden.studio</p>
        <p>Registered address:<br><br>C/O Dragon Argent Limited,<br> 63 Bermondsey Street,<br> London,<br> United Kingdom,<br> SE1 3XF</p>
    </div>
</footer>
