---
layout: layouts/default.njk
---

<section id="job-vr-swe-contract" class="job">
    <div>
        <h1><img src="/img/LG_Logo_Nav.png" alt="Light Garden Logo"></h1>
        <h2>VR Software Engineer (Contract)</h2>
        <ul class="details">
            <li><strong>Location:</strong> London, UK</li>
            <li><strong>Contract Length:</strong> 3-6 months depending on the project scope we'll agree on</li>
        </ul>

        <p>Light Garden is a brand new company with a unique team and an ambitious goal.  We want to bring the worlds of gaming and theatre together to build the world’s most immersive entertainment destinations.  Have you ever imagined what it would be like to step inside your favourite video game?  We want to make that dream a reality.</p>

        <p>As one of the first software engineers to work with the company you’ll have a huge impact on our success and be right at the core of the initial design and research as we build out our unique location based VR platform.  You’ll also be working alongside industry veterans from triple A games studios, big tech and west end theatre who’ll want to learn as much from you as you will from them.</p>

        <p>Join us and help us build gaming experiences that no one has seen before.</p>

        <h3>The Role</h3>

        <ul>
            <li>Work with us to build the foundations of a high end location based VR platform within Unreal Engine.</li>
            <li>Help us solve interesting new problems around joining up real world experience with virtual experiences.</li>
            <li>Create a suite of tools to help us develop and test game content quickly, inside and outside of a HMD.</li>
            <li>Integrate VR, mocap systems and other hardware into Unreal Engine.</li>
        </ul>

        <h3>Requirements</h3>  
        <ul>
            <li>Professional experience writing C++ and working with Blueprint with experience working on commercial UE4 gaming projects.</li>
            <li>Great written and verbal communication skills.  Experience working effectively with technical and non-technical team members is important.  Light Garden brings together people from theatre/performance, gaming and tech - you should be comfortable collaborating with team members from all of those disciplines and working cultures.</li>
            <li>Strong general software engineering skills.  You should be able to demonstrate that you can understand product requirements and make good trade-offs in order to architect maintainable and performant systems that meet those requirements.</li>
            <li>Proactive approach.  We expect you to be proactive in finding issues and providing solutions and workarounds as we quickly iterate on our prototype.  We’re building something that has never been built before so be prepared to take on new challenges and be creative with solutions.</li>
            <li>Able to work on site at our studio in Chiswick.  We’re building location based VR, there’s some things that just can’t be achieved remotely.  However, we can be flexible during the times you don’t need to test on physical equipment.</li>
        </ul>

        <h3>Nice to haves</h3>
        <ul>
            <li>Experience building VR games.</li>
            <li>Experience with motion capture systems.</li>
            <li>Experience working with hardware.  Do you think you might be able to jury rig an airsoft gun so that it could be a VR controller or hook up a lever so that it sends signals into UE? That could be useful…</li>
        </ul>

        <h3>Interested or know someone who might be?</h3>
        <p>Drop us a line at info@lightgarden.studio. <strong>No agencies, please.</strong></p>
    </div>
</section>