---
title: Light Garden Studio
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    <div id="bg">
      <div id="bg1"></div>
      <div id="bg2"></div>
      <div id="bg3"></div>
      <div id="noise"></div>
    </div>

  <nav>
    <a href="#home"><img src="/img/LG_Logo_Nav.png" alt="Light Garden Logo"></a>
    <ul>
      <li id="nav-home"><a href="#home">Welcome</a></li>
        <li id="nav-our-studio"><a href="#our-studio">Our studio</a></li>
        <li id="nav-about-us"><a href="#about-us">About us</a></li>
        <li id="nav-contact"><a href="#contact">Contact</a></li>
    </ul>
  </nav>

    <div id="content">
      {{ content | safe }}
    </div>

    <!--
    <script src="https://cdn.jsdelivr.net/npm/lax.js" ></script>
    <script src="https://twgljs.org/dist/4.x/twgl-full.min.js"></script>
    <script src="https://webglfundamentals.org/webgl/resources/m3.js"></script>
    -->

    <script src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js"></script>
    <script src="/script/app.js"></script>
  </body>
</html>