---
title: Light Garden
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="title" property="og:title" content="{{ title }}">
    <meta property="og:type" content="website">
    <meta name="image" property="og:image" content="/img/SiteImage.png">
    <meta name="description" property="og:description" content="We’re building the world’s most immersive entertainment destinations.">

    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/app.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9NEKXKB9TZ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-9NEKXKB9TZ');
    </script>
  </head>
  <body>
    <div id="bg">
      <div id="bg1"></div>
      <div id="bg2"></div>
      <div id="bg3"></div>
      <div id="noise"></div>
    </div>

    <div id="content">
      {{ content | safe }}
    </div>
    
    <script src="/script/app.js"></script>
  </body>
</html>